<div class="contain">
  <app-header></app-header>
  <p id="head-p">
    " Thanks for adding a healthy food & Your interest in healthy food "
  </p>
  <div class="container-form">
    <!-- moving picture -->
    <div class="moving">
      <img
        class="img add-img"
        src="assets/pics/BetterDontAddWithText.png"
        alt=""
      />
    </div>
    <form [formGroup]="healthyFoodForm" (ngSubmit)="submitFood()">
      <div>
        <label>Name</label>
        <input
          formControlName="name"
          type="text"
          placeholder="write a healthyFood name"
        />
        <p
          class="error"
          *ngIf="
            healthyFoodForm.controls.name.errors?.required &&
            healthyFoodForm.controls.name.touched
          "
        >
          You must write a healthyFood name!
        </p>
      </div>
      <div>
        <label>Category</label>
        <input
          formControlName="category"
          type="text"
          placeholder="write a healthyFood Category"
        />
        <p
          class="error"
          *ngIf="
            healthyFoodForm.controls.category.errors?.required &&
            healthyFoodForm.controls.category.touched
          "
        >
          You must write a healthyFood Category!
        </p>
      </div>
      <div>
        <label>Image URL </label>
        <input
          formControlName="picture"
          type="text"
          placeholder="post a picture of healthy food"
        />
        <p
          class="error"
          *ngIf="
            healthyFoodForm.controls.picture.errors?.required &&
            healthyFoodForm.controls.picture.touched
          "
        >
          You must post a picture of healthy food!
        </p>
        <p
          class="error"
          *ngIf="
            healthyFoodForm.controls.picture.errors?.pattern &&
            healthyFoodForm.controls.picture.touched
          "
        >
          this not a url!
        </p>
      </div>
      <button [disabled]="healthyFoodForm.invalid">Submit</button>
    </form>
    <!-- moving picture -->
    <div class="moving">
      <!-- <p class="pmove">don't Add</p> -->
      <img class="dont-add-img" src="assets/pics/AddWithText.png" alt="" />
    </div>
  </div>
</div>
