<!-- the home -->
<div class="home-container">
  <header>
    <div class="head">
      <h1><i class="fas fa-carrot i"></i> Healthy Food</h1>
    </div>
  </header>

  <video
    id="videoBG"
    src="assets/video1.mp4"
    type="video/mp4"
    autoplay="true"
    loop="true"
  >
    <source src="video1.mp4" type="video/mp4" />
  </video>
  <div class="add">
    <p>
      Click here <i class="far fa-hand-point-down hand"></i> to add new
      <br />
      <button (click)="addFood()" class="btop btn">
        <i class="fas fa-plus"></i></button
      >healthyfood
    </p>
  </div>
  <table>
    <tr>
      <th>name</th>
      <th>category</th>
      <th>actions</th>
    </tr>
    <tr *ngFor="let food of foods">
      <td>{{ food.name }}</td>
      <td>{{ food.category }}</td>
      <td>
        <button (click)="goToDetails(food._id)" class="bt1 btn">more</button>
        <button (click)="goToEdit(food._id)" class="bt2 btn">
          <i class="fas fa-marker"></i>
        </button>
        <button class="bt3 btn">
          <i class="fas fa-trash-alt"></i>
        </button>
      </td>
    </tr>
  </table>
</div>
